<h1>Editing Answer</h1>

<p>
  <strong>Question:</strong>
  <%= Question.find(@answer.question_id).read_attribute(:body) %>
</p>

<%= render 'form', answer: @answer %>

<%= link_to 'Show', @answer %> |
<%= link_to 'Back', answers_path %>
